@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
}

@layer utilities{
    .rightPanel{
        @apply md:flex-[0.85] bg-rightPanel flex-1 h-screen relative p-5
    }

    .leftPanel{
        @apply md:flex-[0.15] md:block bg-leftPanel p-10 hidden h-screen
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
}