@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
}

@layer utilities{
    .rightPanel{
        @apply md:flex-[0.85] bg-rightPanel px-2 py-2 flex-1 h-screen
    }

    .leftPanel{
        @apply md:flex-[0.15] md:block bg-leftPanel px-2 py-2 hidden h-screen
    }
}