@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
}

@layer utilities{
    .rightPanel{
        @apply md:flex-[1] bg-rightPanel flex-1 h-screen relative p-5
    }

    .leftPanel{
        @apply md:flex-[0.15] bg-leftPanel hidden h-screen md:block p-5
    }
    
    .inactive{
        position: fixed;
        top: 0;
        left: -100%;
        transition: 850ms;
    }

    .active{
        left: 0%;
        transition: 350ms;   
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
}